<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
        }

        .img {
            display: block;
            margin: 8px auto auto;
        }
    </style>
    <title>Species Browser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- welcome message read from resource bundle welcome.html-->
<div th:insert="~{template :: banner}"></div>
<h3 th:text="#{background.msg}">Background Offline</h3>
<table>
    <thead>
    <th>Species</th>
    </thead>
    <tbody>
        <tr th:each="panda:${pandas_list}">
            <td>
                <a th:href="'species.detail?species=' + ${panda.getEnglishName()}"><span
                        th:text="${panda.getEnglishName()}"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div th:insert="~{template :: history}" class="topright"></div>
</body>
</html>