<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
        }
        .img {
            display: block;
            margin: 8px auto auto;
        }
    </style>
    <title>Species Browser Exercise</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- welcome message read from resource bundle welcome.html-->
<h2 th:text="${enName}"></h2>
<a href="http://localhost:8080/home">Back to list of panda's</a><br>
<!-- <button type="button"<a href="http://localhost:8080/home">Back to list of panda's</a></button><br> -->
<p>
    <b><span th:text="#{scientific.msg}"></span></b>
    <span th:text="${scName}"></span>
</p>
<p>
    <b><span th:text="#{english.msg}"> </span></b>
    <span th:text="${enName}"></span></p>
<p>
    <b><span th:text="#{dutch.msg}"> </span></b>
    <span th:text="${duName}"></span>
</p>
<img class="img" th:src="'pictures/' + ${picture}" alt="Image not found"/>
<div th:insert="~{template :: history}" class="topright"></div>
</body>
</html>