<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>_TITLE_</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css">
</head>
<body>

<div th:fragment="banner">
    <img id="logo" th:src="'pictures/banner_group_of_animals.jpg'" alt="banner pic"/>
    <h2 id="banner_title">Welcome to the Species Browser Webpage</h2>
</div>

<div th:fragment="history">
    <th:block th:if="${#lists.isEmpty(#httpSession.getAttribute('history').getHistoryItems())}">
        <h3>No history yet</h3>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(#httpSession.getAttribute('history').getHistoryItems())}">
        <table>
            <h3>
                History
            </h3>

            <tr th:each="link:${#httpSession.getAttribute('history').getHistoryItems()}">
                <p th:text="${link}"></p>
            </tr>
        </table>
    </th:block>
</div>

</body>
</html>