<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- welcome message read from resource bundle welcome.html-->
<h1 th:text="${user.name}"></h1>
<h2><span th:text="'Welcome ' + ${user.getName()}"></span>Placeholder username</h2>
<h3><span th:text="'Your account email: ' + ${user.getEmail()}"></span>Placeholder user email</h3>
<h3><span th:text="'Your Role: ' + ${user.role.toString()}"></span>Placeholder user role name</h3>
</body>
</html>