<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- welcome message read from resource bundle heart_rate.html-->
<p th:text="#{welcome.msg}">Welcome Offline</p>
<p th:text="#{background.msg}">Background Offline</p>
<p th:text="#{zone1.msg}">Zones Offline</p>
<p th:text="#{zone2.msg}">Zones Offline</p>
<p th:text="#{zone3.msg}">Zones Offline</p>
<p th:text="#{zone4.msg}">Zones Offline</p>
<p th:text="#{zone5.msg}">Zones Offline</p>
<form action="heart-rate-zones" method="POST" >
    Maximum heart rate: <input type="number", min="0", max="180" name="heart_rate">
    <input type="submit" value="submit">
</form>
</body>
</html>