<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- welcome message read from resource bundle heart_rate.html-->
<h2> Calculated zones:</h2>
<p> Zone 1:<span th:text="${zone1}"></span></p>
<p> Zone 2:<span th:text="${zone2}"></span></p>
<p> Zone 3:<span th:text="${zone3}"></span></p>
<p> Zone 4:<span th:text="${zone4}"></span></p>
<p> Zone 5:<span th:text="${zone5}"></span></p>
</body>
</html>